@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*{
  background-color: rgb(32, 32, 32);
  color:#e2e2e2;
  font-family: 'Montserrat', sans-serif;
  font-weight:600
}
.false{
  text-align: center;
  font-size:20px;
  align-items: center;
}

h1,h4{
  padding:1em;
  text-align:center;
  
}
a{
  text-decoration: none;

}

form{
  color:#e2e2e2;
  padding: 0.3em;
}
i{
  margin:10px;
  font-size:20px
}

.search{
  outline:none ;
  background:linear-gradient(-225deg,#ac32e4 0%,#7918f2 50%,#4801ff);
  width:300px;
  border:none;
  padding:0.4em 1em;

}
.search::placeholder{
  color:#e2e2e2
 
}

.sad{
  font-size: 30px;
  font-weight: 100;
}
